body {
    background-color: #17101d;
    color: #e0f0ea;
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;

}

h1 {
    font-weight: 100;
    letter-spacing: 30px;
    font-size: 40px;
    color: whitesmoke;
}

h2 {
    font-weight: 200;
    letter-spacing: 30px;
    font-size: 30px;
    color: #e0f0ea;
}








.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image img {
    width: 10%;
    height: auto;
}

.site {
    width: 800px;
    height: 520px;
    border: none;
    border-radius: 25px;
}

.virgilio {
    width: 80%;
    height: 700px;
    border: none;
    border-radius: 25px;
    background-color: white;
}

.lin {
    color: #e0f0ea;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    list-style: none;
    line-height: 2;
}

iframe {
    width: 95%;
    height: 1200px;
    border: none;
    border-radius: 25px;
    background-color: white;
}




.iframe-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.iframe-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
}

.loadButton {
    width: 410px; /* Imposta la larghezza desiderata */
    height: 40px; /* Imposta l'altezza desiderata */
    margin: 5px; /* Margine tra i pulsanti */
    font-size: 15px;
    font-weight: 200;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    background: linear-gradient(90deg, #503a65, #574f7d);
    border: none;
    border-radius: 25px;
    color: white;
}

a {
    font-size: 15px;
    font-weight: 200;
    color: white;
    text-decoration: none;
}

.mainButton {
    width: 200px; /* Imposta la larghezza desiderata */
    height: 20px; /* Imposta l'altezza desiderata */
    font-size: 12px;
    font-weight: 200;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    background: white;
    border: none;
    border-radius: 20px;
    color: black;
}