body {
    background-color: #17101d;
    color: #e0f0ea;
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: 200;
    letter-spacing: 15px;
    font-size: 70px;
    color: #e0f0ea;
}



a:hover {
    background-color: #BE1D2C;
}

.greylink {
    color: #e0f0ea;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(90deg, #503a65, #574f7d);
    list-style: none;
}

.greylink:hover {
    background: linear-gradient(90deg, #574f7d, #3c2a4d);
}

.grey2link {
    color: #e0f0ea;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(90deg, #847593, #766A82);
    list-style: none;
}

.grey2link:hover {
    background: linear-gradient(90deg, #503a65, #574f7d);
}

.greenlink {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #00F5AF, #00F97D);
    list-style: none;
}

.greenlink:hover {
    background: linear-gradient(90deg, #00A878, #00964B);
}

.bluelink {
    color: #e0f0ea;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(45deg, indigo, #483d8b);
    list-style: none;

}

.bluelink:hover {
    background: linear-gradient(45deg, #483d8b, indigo);
}

.redlink {
    color: #e0f0ea;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(90deg, maroon, firebrick);
    list-style: none;
}

.redlink:hover {
    background: linear-gradient(90deg, firebrick, maroon);
}




.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image img {
    width: 10%;
    height: auto;
}

.site {
    width: 800px;
    height: 425px;
    border: none;
    border-radius: 25px;
}

.virgilio {
    width: 1200px;
    height: 700px;
    border: none;
    border-radius: 25px;
}

.lin {
    color: #e0f0ea;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    list-style: none;
}


.sr {
    font-size: 8px;
    font-weight: 800;
   letter-spacing: 0px;
    color: #ff00ff;
    font-style: italic;
}
.sg{
    font-size: 8px;
    font-weight: 800;
   letter-spacing: 0px;
    color: greenyellow;
    font-style: italic;
}

/* LITERATURE CLOCK START */

#lit_quote em {
    font-weight: 900;
    color: #ffffff;
    font-style: normal
}


#main_text {
    width: 80%;
    margin: auto; 
    color: #ffffff;
    font-family: 'Merriweather', Times, serif;
}

cite {
    float: right;
    padding-left: 10vw;
    font-size: 2.3vw;
}
cite #book{
    font-style: normal;
}

/* LITERATURE CLOCK END */